services:
  tailscale_tailscale:
    image: tailscale/tailscale:latest
    container_name: tailscale
    restart: always
    privileged: true
    network_mode: host
    tty: true
    stdin_open: true
    command:
      - /usr/local/bin/containerboot
    volumes:
      - ./tailscale/var/lib/tailscale:/var/lib/tailscale
      - ./tailscale/var/run/tailscale:/var/run/tailscale
    environment:
      - TS_EXTRA_ARGS=--accept-dns=true
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_USERSPACE=true
      - TS_AUTHKEY=${TS_AUTHKEY}
      - TS_SOCKET=/var/run/tailscale/tailscaled.sock
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - MKNOD
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
  caddy:
    image: caddy:latest
    container_name: caddy
    restart: always
    network_mode: host
    depends_on:
      - tailscale_tailscale
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile
      - ./caddy/caddy_data:/data
      - ./caddy/caddy_config:/config
      - ./tailscale/var/run/tailscale/tailscaled.sock:/var/run/tailscale/tailscaled.sock
    environment:
      - TZ=Asia/Shanghai