services:
  tailscale_tailscale:
    image: tailscale/tailscale:latest
    volumes:
    - ./data:/var/lib/tailscale
    environment:
    - TS_EXTRA_ARGS=--accept-dns=true
    - TS_STATE_DIR=/var/lib/tailscale
    - TS_USERSPACE=true
    - TS_AUTHKEY=${TS_AUTHKEY}
    - TS_EXTRA_ARGS=--port 41641
    command:
    - /usr/local/bin/containerboot
    restart: always
    privileged: true
    network_mode: host
    tty: true
    init: false
    stdin_open: true
    cap_add:
    - AUDIT_WRITE
    - CHOWN
    - DAC_OVERRIDE
    - FOWNER
    - FSETID
    - KILL
    - MKNOD
    - NET_BIND_SERVICE
    - NET_RAW
    - SETFCAP
    - SETGID
    - SETPCAP
    - SETUID
    - SYS_CHROOT
    cap_drop:
    - AUDIT_CONTROL
    - AUDIT_READ
    - BLOCK_SUSPEND
    - BPF
    - CHECKPOINT_RESTORE
    - DAC_READ_SEARCH
    - IPC_LOCK
    - IPC_OWNER
    - LEASE
    - LINUX_IMMUTABLE
    - MAC_ADMIN
    - MAC_OVERRIDE
    - NET_ADMIN
    - NET_BROADCAST
    - PERFMON
    - SYSLOG
    - SYS_ADMIN
    - SYS_BOOT
    - SYS_MODULE
    - SYS_NICE
    - SYS_PACCT
    - SYS_PTRACE
    - SYS_RAWIO
    - SYS_RESOURCE
    - SYS_TIME
    - SYS_TTY_CONFIG
